<h1>Welcome <%= current_user.characters.first.name %></h1>
<%= image_tag(@image) %>
<p>Characters</p>
<% current_user.characters.each do |character| %>
  <ul>
    <li> <%= character.name %> </li>
  </ul>
<% end %>
