<h1>Welcome</h1>
<p><% content_tag :button, :type => :submit, :class => :positive do %>
   <%= image_tag "https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png"%>
<% end %></p>
