<h1>Welcome</h1>
Login with EVE Online
<%= content_tag :button, :type => :submit, :class => :login do %>
   <%= image_tag "https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png"%>
<% end %>
